/*GENERAL STUFF*/
a {
    text-decoration: none;
    color: inherit !important;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a:visited {
    color: #CDCDCD;
}

ul, ol {
    list-style: none;
    padding: 0;
}

/* HEADINGS */
.h1 {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #F1CDB3;  
    margin: 0;
    padding: 0;
}

.main-white {
    color: #FFFFFF !important;
}

.subtext-logo {
    color: #FFFFFF !important;
}

.heading-768px{
    display: none;
}

.h2 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #545454;
    margin: 0;
    padding: 0;
}

.h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding: 0;
}

.h4 {
    font-family: Georgia, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.about {
    text-align: left;
}
/* HEADINGS */

/*TEXTS AND FONTS*/
.large-text {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #545454;
}

.short-bio-text {
    color: #CDCDCD !important; 
}

.small-text {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #B2B2B2;
}

.black-text {
    color: black;
}
.color-primary {
    color:#F1CDB3;
    padding-bottom: 0;
}
/*TEXTS AND FONTS*/

/*BUTTONS*/
.button-primary {
    height: 52px;
    width: 207px;
    left: 0px;
    top: 270px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;
    background-color: #F1CDB3;
    border: none;
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.button-primary:hover {
    background-color: #FDDCC4;
    border: none;
    color: #292929;
}


.button-secondary {
    height: 52px;
    width: 187px;
    left: 470px;
    top: 645px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;   
    border: 3px solid #F1CDB3;
    background-color: #FFFFFF;
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
}

.button-secondary:hover {
    background-color: #FDDCC4;
    border: 3px solid #FDDCC4
}

.button-long {
    width: 261px;
}

.button-round {
    height: 52px;
    width: 52px;
    left: 0px;
    top: 192px;
    border-radius: 100px;
    padding: 23px, 19px, 23px, 19px;    
    border: 3px solid #F1CDB3;
    background-color: #F6F6F6;
}

.button-round-left {
    background-image: url('../assets/icons/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.button-round-right {
    background-image: url('../assets/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.button-round:hover {
    background-color: #F1CDB3;
    cursor: pointer;
}

.button-donation {
    height: 43px;
    width: 349px;
    border-radius: 9px;
    padding: 10px, 15px, 10px, 15px;
    background-color: #F1CDB3;  
    display: flex;
    flex-direction: row; 
    align-content: center;
    justify-content: space-between;
    border: none;
}

.button-donation-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px 15px;
}
.button-donation:hover {
    background-color: #FDDCC4;
}

/*BUTTONS*/

/*DOCUMENT*/


.wrapper {
    margin: 0 auto;
    /*padding: 0 40px;*/
    max-width: 1280px;
    border: solid 1px red;
}

.start-screen {
    max-width: 1280px;
    background: url('/assets/images/start-screen.png') no-repeat center top;
    padding: 60px 40px 0;
}

.header {
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    list-style: none !important;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 443px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left; 
    color:#FFFFFF;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;  
}

nav a:hover {
    color: #FAFAFA;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
}

.active-link {
    color: #FAFAFA;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.short-intro {
    display: flex;
    flex-direction: row;
}

.short-intro-text {
    display: flex;
    flex-direction: column;
    margin-top: 163px;
    width: 460px;
    height: 322px;
    justify-content: space-between;
}

.puppy {
    height: 728px;
    width: 698px;
    right: 0;
}

.about-the-shelter {
    height: 588px;
    width: 1280px;
    left: 0px;
    top: 908px;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 80px;
    width: 1200px;
    height: 408px;
}

.about-pic {
    width: 300px;
}

.about-text {
    width: 380px;
}

.about-text-chapter {
    padding-top: 25px;
}
.pets-page {
    max-width: 1280px;
    height: 877px;
    background-color: #F6F6F6;;
}

.section-header {
    padding-top: 80px;
    padding-bottom: 60px;
}

.pets-characters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 60px;
}

.pet-item {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    align-items: center;
}

pet-item-woody {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    align-items: center;
}

.pet-item-jennifer {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    align-items: center;
}

.pet-item:hover {
    background-color: white;
    cursor: pointer;
}

.pet-img {
    padding-bottom: 30px;
}

.pets-button {
    text-align: center;
}

.pets-item:hover button-secondary {
    background-color: #F1CDB3;
    cursor: pointer;
}

.help {
    height: 611px;
}

.help-logo {
    height: 60px;
    padding-bottom: 30px;
}

.ways-to-help {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1026px;
    margin-bottom: 55px;
}

.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 858px;
    margin-bottom: 100px;
}

.help-item {
    display: flex;
    flex-direction: column;
}

.three-row-items {
    display: none;
}

.donation {
    height: 462px;
    background-color:  #F6F6F6;
    display: flex;
    align-items: center;
}

.donation-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 915px;
    margin: 0 auto;
}

.donation-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 380px;
    height: 282px;
    justify-content: space-between;
}

.footer {
    background-image: url("../assets/images/Footer.png");
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-column {
    width: 290px;
    padding-top: 56px;
}

.right-column {
    width: 302px;
    padding-top: 56px;
}

.footer-puppy {
    padding-top: 40px;
}

.contacts-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: #F1CDB3;
    padding-bottom: 40px;
}

.contacts-title {
    padding-bottom: 40px;
}

.contacts-logo {
    height: 32px;
    padding-right: 20px;
}

.contacts-link:hover {
    color: #FDDCC4;
}
/*tablet version*/
@media (max-width: 1279px) and (min-width: 768px){
    .wrapper {
        margin: 0 auto;
        padding: 0 0;
        max-width: 768px;
    }

    .start-screen {
        width: 768px;
        height: 1165px;
        background: url('/assets/images/start-screen-gradient-background.png') no-repeat center;
        padding: 0 0;
        background-size: cover;
    }

.header {
    display: flex;
    flex-direction: row; 
    width: calc(100% - 60px);
    justify-content: space-between;
    padding: 30px 30px;
}

    .heading-768px {
        display: block;
    }

    .short-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 1046px;
    }
    
    .short-intro-text {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        width: 460px;
        height: 322px;
        justify-content: space-between;
    }

    .button-front {
        align-self: center;
    }

    .button-mobile {
        display: none;
    }
    
    .puppy {
        width: 569px;
        height: 593px;
        align-self: flex-end;
        margin-right: 30px;
    }

    .about-the-shelter {
        width: 437px;
        height: 1048px;
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 80px;
        width: 768px;
        height: 868px;
    }

    .about-text {
        width: 380px;
    }

    .about-pic {
        width: 300px;
        padding-top: 80px;
    }

    .pets-page {
        width: 768px;
        height: 877px;
        background-color: #F6F6F6;;
    }
    
    .pet-item-woody {
        display: none;
    }

    .help {
        height: 779px;
    }

    .first-row {
        display: none;
    }
    
    .second-row {
        display: none;
    }
    
    .three-row-items {
        display: flex;
        flex-wrap: wrap;
    }

    .help-item {
        width: calc(33.33% - 5px);   
    }

    .donation {
        height: 783px;
    }

    .donation-contents {
        flex-direction: column-reverse;
        align-items: center;
    }

    .donation-doggo {
        width: 505px;
        padding-top: 60px;
    }

    .footer {
        height: 639px;
        border: solid 1px red;
        background-image: url("../assets/images/start-screen-gradient-background.png");
        padding:0 30px;
        background-size: cover;
    }

    .contacts {
        flex-wrap: wrap;
    }

    .left-column {
        width: 290px;
        padding-top: 40px;
    }
    
    .right-column {
        width: 302px;
        padding-top: 40px;
    }
    
    .footer-puppy {
        padding-top: 0;
    }
}

/*mobile version*/
@media (max-width: 767px){
.h4 {
    padding-bottom: 5px;
}
 .wrapper {
        margin: 0 auto;
        padding: 0 0;
        max-width: 320px;
    }

    .start-screen {
        width: 320px;
        height: 823px;
        background: url('/assets/images/start-screen-gradient-background.png') no-repeat center;
        padding: 0 0;
        background-size: cover;
    }

    .header {
        display: flex;
        flex-direction: row; 
        width: 257px;
        justify-content: space-between;
        padding: 30px 20px;
    }

    .header-navigation {
        display: none;
    }

    .heading-768px {
        display: block;
    }

    .main-white {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
    }

    .short-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 673px;
    }
    
    .short-intro-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
        margin-top: 60px;
        width: 300px;
        height: 322px;
        text-align: center;
    }

    .short-bio-text {
        text-align: center;
    }

    .button-front {
        align-self: center;
    }

    .button-mobile {
        display: none;
    }
    
    .puppy {
        width: 260px;
        height: 271px;
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 32px;
    }
/*about the shelter page*/
    .about-the-shelter {
        width: 320px;
        height: 974px;
    }

    .about-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        width: 270px;
        height: 974px;
        padding: 0 25px;
    }

    .header-mobile {
        font-size: 25px;
        text-align: center;
        line-height: 32.5px;
        margin-top: 40px;
    }

    .about-text {
        width: 270px;
    }

    .about-text-chapter {
        text-align: justify;
    }

    .about-pic {
        width: 260px;
        padding-top: 20px;
    }
/*our pets */

    .pets-page {
        display: flex;
        flex-direction: column;
        height: 791px;
    }
    .pets-characters {
        padding-bottom: 20px;
    }
    .pet-item-jennifer {
        display: none;
    }

    .pet-item-woody {
        display: none;
    }

    .button-round-right {
        display: none;
        margin-left: 80px;
    }

    .button-round-left {
        display: none; 
    }

    .button-mobile {
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
        align-self: center;
    }

    .help {
        height: 745px;
    }

    .section-header {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .help-logo {
          height: 50px;
          padding-bottom: 15px;
      }

    .h4 {
        padding-bottom: 15px;
    }
    .first-row {
        display: none;
    }
    
    .second-row {
        display: none;
    }
    
    .three-row-items {
        display: flex;
        flex-wrap: wrap;
    }

    .help-item {
        width: calc(50% - 10px);   
    }

    .donation {
        height: 542px;
        background-color: #F6F6F6;
        display: flex;
        align-items: center;
        padding:0 10px;
      }

    .donation-contents {
        flex-direction: column-reverse;
        align-items: center;
    }

    .donation-doggo {
        width: 260px;
        padding-top: 60px;
    }

    .footer {
        height: 809px;
        border: solid 1px red;
        background-image: url("../assets/images/start-screen-gradient-background.png");
        padding:0 10px;
        background-size: cover;
    }

    .contacts {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .left-column {
        width: 290px;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .right-column {
        width: 302px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    .contacts-title {
        align-self: center;
        font-size: 25px;
    }

    .contacts-item {
        padding-bottom: 30px;
    }
    
    .footer-puppy {
        padding-top: 3px;
        width: 260px;
        align-self: flex-end;
        padding-right: 20px;
    }
}