a {
    text-decoration: none;
    color: inherit !important;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a:visited {
    color: #CDCDCD;
}

ul, ol {
    list-style: none;
    padding: 0;
}

/* HEADINGS */
.h1 {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;  
    margin: 0;
    padding: 0;
}

.main-white {
    color: #FFFFFF !important;
}

.h2 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    color: #545454;
    margin: 0;
    padding: 0;
}

.h3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding: 0;
}

.h4 {
    font-family: Georgia, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.about {
    text-align: left;
}
/* HEADINGS */

/*TEXTS AND FONTS*/
.large-text {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #545454;
}

.short-bio-text {
    color: #CDCDCD !important; 

}

.small-text {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #545454;
}

.black-text {
    color: black !important;
}
.color-primary {
    color:#545454;
    padding-bottom: 0;
}
/*FONTS*/

/*BUTTONS*/
.button-primary {
    height: 52px;
    width: 207px;
    left: 0px;
    top: 270px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;
    background-color: #F1CDB3;
    border: none;
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.button-primary:hover {
    background-color: #FDDCC4;
    border: none;
    color: #292929;
}

.button-secondary {
    height: 52px;
    width: 187px;
    left: 470px;
    top: 645px;
    border-radius: 100px;
    padding: 15px, 45px, 15px, 45px;   
    border: 3px solid #F1CDB3;
    background-color: #FFFFFF;
    color: #292929;
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    margin-bottom: 50px;
}

.button-secondary:hover {
    background-color: #FDDCC4;
    border: 3px solid #FDDCC4
}

.button-round {
    height: 52px;
    width: 52px;
    left: 0px;
    top: 192px;
    border-radius: 100px;
    padding: 23px, 19px, 23px, 19px;    
    border: 3px solid #F1CDB3;
    background-color: #F6F6F6;
}

.button-less {
    background-image: url('../assets/icons/less.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #CDCDCD;
}

.button-much-less {
    background-image: url('../assets/icons/much-less.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #CDCDCD;
}

.button-more {
    background-image: url('../assets/icons/more.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button-much-more {
    background-image: url('../assets/icons/much-more.png');
    background-repeat: no-repeat;
    background-position: center;
}

.button-number {
    position: center;
}

.button-round:hover {
    background-color: #F1CDB3;
    cursor: pointer;
}
/*BUTTONS*/

/*MAIN*/
.wrapper {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
}

/*HEADER*/
.header {
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    list-style: none !important;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 443px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left; 
    color:#545454;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;  
}

nav a:hover {
    color: #545454;
    padding-bottom: 6px;
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
}

.active-link {
    color: #545454;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}
/*HEADER*/

/*PETS CONTENTS*/
.pets-content {
    width: 1280px;
    height: 1342px;
    background-color: #F6F6F6;
    justify-content: space-around;
}

.pet-item-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.pet-item {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    width: 270px;
    height: 435px;
    align-items: center;
}

.pet-item:hover {
    background-color: white;
    cursor: pointer;
}

.pet-img {
    padding-bottom: 30px;
}

.pets-button {
    text-align: center;
}

.pets-item:hover button-secondary {
    background-color: #F1CDB3;
    cursor: pointer;
}

/*PETS CONTENTS*/

/*FOOTER*/
footer {
    max-height: 350px;
    background-image: url("../assets/images/Footer.png");
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-column {
    width: 290px;
    padding-top: 56px;
}

.right-column {
    width: 302px;
    padding-top: 56px;
}

.footer-puppy {
    padding-top: 40px;
}

.contacts-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: #F1CDB3;
    padding-bottom: 40px;
}

.contacts-title {
    padding-bottom: 40px;
}

.contacts-logo {
    height: 32px;
    padding-right: 20px;
}

.contacts-link:hover {
    color: #FDDCC4;
}
